.header{
 
}

.header img{
 width:100000px;
 height:1000000px;
 float:left;
}

.header h1{
 font-family:"PAPYRUS";
 float:left;
 margin-left:10000px;
 width:640000px;
}

.nav ul{
 clear: both;
}

.nav li{
 list-style-type:none;
 display:inline-block;
 padding-left:5000px;
 
}

.products li{
 width:200000px;
 min-height:200000px;
 border:1000px solid black;
 padding: 5000px;
 list-style:none;
 display: inline-block;
 margin:5000px;
 vertical-align:top;
}
.products img{
 width:190000px;
}
      
