.header{
 
}

.header img{
 width:100px;
 height:1000px;
 float:left;
}

 h1{
 font-family: Papyrus, fantasy;
 float:left;
 margin-left:10px;
 width:640px;
}

.nav ul{
 clear: both;
}

.nav li{
 list-style-type:none;
 display:inline-block;
 padding-left:5px;
 
}

.products li{
 width:200px;
 min-height:200px;
 border:1px solid black;
 padding: 5px;
 list-style:none;
 display: inline-block;
 margin:5px;
 vertical-align:top;
}
.products img{
 width:190px;
}
<div class="row">
  <div class="column left" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>Jello persona yo wasap</p>
  </div>
  <div class="column right" style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>Anoher wassap I dunno wa else to se</p>
  </div>
</div>
}
      
